<div ng-controller="formApproveAbsencesController">
    <button id="formApproveAbsencesButton" type="button" ng-click="onAcceptButtonPress()"
        ng-show='object.AbsenceRequestStatus["@DisplayString"] === Settings.NewStatusValue || object.AbsenceRequestStatus["@DisplayString"] === Settings.PendingStatusValue'
        class="btn btn-primary ng-binding openUrlButton">{{Settings.ButtonApproveText}}</button>
    <button id="formCancelAbsencesButton" type="button" ng-click="onCancelButtonPress()"
        ng-show='object.AbsenceRequestStatus["@DisplayString"] === Settings.CancelRequestStatusValue'
        class="btn btn-primary ng-binding openUrlButton">{{Settings.ButtonCancelText}}</button>
</div>